.purple-color{
color:purple;
}
body {font-family:sans-serif;
      color:#777777;
      line-height:26px ;
      }
.half-width
          {width:50% ;
           float:left;
           }
.side-image
           {width:100% ;
          float:left ;
          margin-top:90px ;
           padding:25px;}
.primary-btn
{color:blue;
padding:5px 15px 5px 5px;
text-decoration:none;
}
h1 
{font-size:1.8em ; 
}
.container
{padding-left:5%;
display:inline-block;
}
.experiences
{padding:10px ;
 margin:10px ;
 background-color:rgb(238,251,255);
 border-radius:20px;
} 
.experience-item
{padding:10px;
border-left:1px solid rgba(137,130,247,.2);
}






























}